.Lobby{
    height: 100%;
}

.mainpanel{
    border-radius: 10px;
    float: left;
    border: 2px black solid;
    height: 100%;
    width: 70%;
    background-color: white;
}

.rightpanel{
    border-radius: 10px;
    float: right;
    border: 2px black solid;
    height: 100%;
    width: 29%;
    background-color: white;
}
.playnow, .createroom{
    cursor: pointer;
    border: 2px black solid;
    width: 100px;
    padding: 10px;
    float: right;
    text-align: center;
    margin-right: 37px;
    border-radius: 10px;
}

.buttons{
    border: 2px black solid;
    float: right;
    width: 200px;
    margin-right: 50px;
    margin-top: 300px;
    border-radius: 10px;
}

.roomlist{
    padding: 0;
    margin: 0;
}

.room{
    list-style: none;
    border: 1px black solid;
    border-radius: 10px;
}